.header img {
    height: 50px;
}

.header {
    text-align: center;
}

.header nav {
    background-color: black;
    line-height: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 6px;
    font-size: 20px;
}

nav a:hover {
    background-color: lightgray;
}